body {
    background-color: #dfc99a;
}

pre {
    text-align: center;
}

p {
    margin: 2em 30%;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 3em;
    line-height: 1.5em;
}

h1, h3 {
    text-align: center;
}

h2 {
    font-size: 200%;
    text-align: center;
    letter-spacing: 0.25em;
}

.toc {
    text-align: center;
}

ol {
    text-align: center;
    list-style-position: inside;
}

img {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 10px;
}